* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

header {
    z-index: 3;
}

main{
    width: 100%;
    margin: 10% 0;
    padding: 5rem 0;
    position: relative;
}

.titleDev h2{
 width: 100%;
 text-align: center;
 color: #857b7b;
 font-size: 60px;
 margin-bottom: 1em;
}

.developer{
    width: 100%;
    border: 2px solid black;
    position: relative;
}

#miodrag {
    position: relative;
    background-color: #ec4c4c;
    border:none;
    box-shadow: 8px 11px 10px 0px rgba(0,0,0,0.75);
    margin: 0 auto;
    transition: all 0.4s linear;
    margin-bottom: 5em;
    display: flex;
    height: 35em;
    color: white;
    width: 95%;
    box-shadow: none;
    overflow: hidden;
}



.miodrag-left{
    width: 40%;
    height: 100%;
    position: relative;

}

.miodrag-left img {
    height: 1000px;
    object-fit: cover;
    margin: auto;
}



@keyframes miodragRotate{
    0%{
        transform:rotate(0deg);
    
    }
    100%{
        transform:rotate(360deg);
    }
}



.miodrag-right {
    width: 50%;
    margin: auto;
    overflow: hidden;
    z-index: 2;
}



.miodrag-right h3 {
    text-align: center;
    color: white;
    margin: auto;
    font-size: 60px;
    transition: all 1s linear;
}

.miodrag-right hr {
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 0%;
    height: 2px;
    border: none;
    background-color:#ffc343;
    transition: width 0.5s linear;
}




#miodrag:hover .miodrag-left img{
    animation: miodragRotate 4s infinite;
}



#miodrag:hover .miodrag-right hr {
    width: 100%;
}



.miodrag-button {
    position: relative;
    margin: auto auto;
    display: block;
    width: 100px;
    height: 110px;

}

#miodrag p {
    display: none;
    animation: miodragPopUp 4s linear;
}

@keyframes miodragPopUp {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



#miodrag:hover p{
    animation: miodragPopUp 1s linear;
    display: block;
}


#miodrag button {
    animation: miodragPopUp 1s linear;
    display: none;
    background-color: #F2EA02;
    color: white;
    padding: 1em;
    margin: auto;
    border: #E6FB04 solid 2px;
    margin-top: 4em;
}

#miodrag:hover #miodragButton{
    display: block;
}

#miodrag a {
    color: white;
    text-decoration: none;
}

#luka {
    background-color: #ec4c4c;
    border: none;
    border-radius: 1rem;
    width: 90vw;
    margin: 3rem auto;
    position: relative;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

#luka-text {
    flex-basis: 54vw;
}

#luka h3 {
    display: inline-block;
    color: white;
    width: 100%;
    text-align: center;
    margin: 2rem 0;
    font-size: 2rem;
}

#luka-description {
    background-color: rgb(241, 147, 147);
    display: block;
    width: 70%;
    padding: .5vw 1vw;
    margin: 0 auto;
    border-radius: 1rem;
}

#luka p {
    text-align: justify;
    line-height: 1.5rem;
    margin: .5rem auto;
}

#luka-link {
    text-decoration: none;
    color: white;
    display: inline-block;
    border-radius: .5rem;
    padding: 0.3rem;
    background-color: #ec4c4c;
}

#luka-img {
    flex-basis: 36vw;
}

#chungus-div {
    width: 30vw;
    height: 40vw;
    overflow: hidden;
    border-radius: 1rem;
    position: relative;
    margin: 0 auto;
}

#chungus {
    width: 100%;
    transition: filter 1s linear;
}

#chungus-thug {
    z-index: 2;
    width: 60%;
    position: absolute;
    left: 30%;
    top: -8%;
    transition: top 1s linear;
}

#chungus-div:hover #chungus {
    filter: grayscale(100%);
}

#chungus-div:hover #chungus-thug {
    top: 45%;
}

@media (max-width: 800px) {
    #luka {
        flex-direction: column;
    }

    #luka-img {
        margin-top: 1rem;
    }

    #chungus-div {
        width: 50vw;
        height: 66.7vw;
    }
}