*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

footer{
    margin-top: 70vh;
}


main {
    margin-top: 5em;
}

h2,h4 {
margin: auto;
text-align: center;
}

h2{
    font-size: 60px; 
    color: rgb(94, 82, 82); 
}

h4 {
    color: #ffc343;
}

.allSavedArticles {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.savedArticle{
    margin: 1em;
    width: 18em;
    background-color: #ec4c4c;
    height: 40em;
    cursor: alias;
    transition: transform ease-in-out 0.2s;
}


main img {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

main h3 {
    color: white;
    text-align: center;
    font-family: Lato;
    width: 70%;
    margin: auto;
}

.aLine {
    width: 0%;
    height: 2px;
    background-color: #ffc343;
    border: none;
    margin: 0.4em auto;
    transition: width 0.5s ease-in-out;
}

.savedArticle:hover .aLine{
    width: 70%;
}

.savedArticle:hover {
    transform: scale(1.1) rotate(3deg);
}



