#uros{
    background-image: linear-gradient(135deg, rgb(255, 215, 103), #ec4c4c);
    text-align: center;
    position: relative;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;

    margin: auto;
    margin-top: 5%;
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #bbb;
    color: black;
}
  
.flip-card-back {
    background-color: rgb(26, 179, 255);
    color: white;
    transform: rotateY(180deg);
}

.meet-me-btn{
    width: 20%;
    height: 40%;
    /* margin: 0 42.5%; */
    border: 2px solid rgba(26, 179, 255, 0.664);
    border-radius: 20px;
    box-shadow: 2px 2px 10px black;
    background-color: rgb(26, 179, 255);
    color: white;
    display: block;
}

.meet-me-btn:hover{
    cursor: pointer;
}

#uros-facts{
    color: blanchedalmond;
}

#fact-container-uros{
    width: 100%;
    height: 22%;

    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;

    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

@media (max-width: 350px){
    #fact-container-uros{
        height: 30%;
    }
}

#uros-github{
    text-decoration: none;
}